package compactor

import (
	"equinox/storage/codec"
	"equinox/storage/types"
	"sort"
)

{{range .}}
// merge combines the next set of blocks into merged blocks.
func (it *sstBatchKeyIterator) merge{{.Name}}() {
	// No blocks left, or pending merged values, we're done
	if len(it.blocks) == 0 && len(it.merged) == 0 && it.merged{{.Name}}Values.Len() == 0 {
		return
	}

	sort.Stable(it.blocks)

	dedup := it.merged{{.Name}}Values.Len() != 0
	if len(it.blocks) > 0 && !dedup {
		// If we have more than one block or any partially tombstoned blocks, we many need to dedup
		dedup = len(it.blocks[0].tombstones) > 0 || it.blocks[0].partiallyRead()

		// Quickly scan each block to see if any overlap with the prior block, if they overlap then
		// we need to dedup as there may be duplicate points now
		for i := 1; !dedup && i < len(it.blocks); i++ {
			dedup = it.blocks[i].partiallyRead() ||
				it.blocks[i].overlapsTimeRange(it.blocks[i-1].minTime, it.blocks[i-1].maxTime) ||
				len(it.blocks[i].tombstones) > 0 || (codec.IsPtrBlock(it.blocks[i].b) && codec.PtrBlockCount(it.blocks[i].b) > it.separateThreshold)
		}

	}

	it.merged = it.combine{{.Name}}(dedup)
}

// combine returns a new set of blocks using the current blocks in the buffers.  If dedup
// is true, all the blocks will be decoded, dedup and sorted in in order.  If dedup is false,
// only blocks that are smaller than the chunk size will be decoded and combined.
func (it *sstBatchKeyIterator) combine{{.Name}}(dedup bool) blocks {
	// TODO : optimize this part
	if dedup {
		for it.merged{{.Name}}Values.Len() < it.size && len(it.blocks) > 0 {
			for len(it.blocks) > 0 && it.blocks[0].read() {
				it.blocks = it.blocks[1:]
			}

			if len(it.blocks) == 0 {
				break
			}
			first := it.blocks[0]
			minTime := first.minTime
			maxTime := first.maxTime

			// Adjust the min time to the start of any overlapping blocks.
			for i := 0; i < len(it.blocks); i++ {
				if it.blocks[i].overlapsTimeRange(minTime, maxTime) && !it.blocks[i].read() {
					if it.blocks[i].minTime < minTime {
						minTime = it.blocks[i].minTime
					}
					if it.blocks[i].maxTime > minTime && it.blocks[i].maxTime < maxTime {
						maxTime = it.blocks[i].maxTime
					}
				}
			}

			// We have some overlapping blocks so decode all, append in order and then dedup
			for i := 0; i < len(it.blocks); i++ {
				if !it.blocks[i].overlapsTimeRange(minTime, maxTime) || it.blocks[i].read() {
					continue
				}

                var v types.{{.Name}}Array
                var err error
                dataBlocks, err := it.vr.ReadDataBlocks(it.blocks[i].b, true, it.key)
                if err != nil {
                    it.handleDecodeError(err, "{{.name}}")
                    return nil
                }

                for _, b := range dataBlocks {
					if b == nil || len(b) == 0{
						continue
					}
                    var v2 types.{{.Name}}Array
                    if err = codec.Decode{{.Name}}ArrayBlock(b, &v2); err != nil {
                        it.handleDecodeError(err, "{{.name}}")
                        return nil
                    }
                    v.Merge(&v2)
                }

				// Invariant: v.MaxTime() == it.blocks[i].maxTime
				if it.blocks[i].maxTime != v.MaxTime() {
					if maxTime == it.blocks[i].maxTime {
						maxTime = v.MaxTime()
					}
					it.blocks[i].maxTime = v.MaxTime()
				}

				// Remove values we already read
				v.Exclude(it.blocks[i].readMin, it.blocks[i].readMax)

				// Filter out only the values for overlapping block
				v.Include(minTime, maxTime)
				if v.Len() > 0 {
					// Record that we read a subset of the block
					it.blocks[i].markRead(v.MinTime(), v.MaxTime())
				}

				// Apply each tombstone to the block
				for _, ts := range it.blocks[i].tombstones {
					v.Exclude(ts.Min, ts.Max)
				}

				it.merged{{.Name}}Values.Merge(&v)
			}
		}

		// Since we combined multiple blocks, we could have more values than we should put into
		// a single blocit.  We need to chunk them up into groups and re-encode them.
		return it.chunk{{.Name}}(nil)
	} 
	var i int

	for ; i < len(it.blocks); i++ {

		// skip this block if it's values were already read
		if it.blocks[i].read() {
			continue
		}

		// if this block is not a ptr block
		if !codec.IsPtrBlock(it.blocks[i].b) {
			// if this block is already full, just add it as is
			count, err := codec.BlockCount(it.blocks[i].b)
			if err != nil {
				it.AppendError(err)
				continue
			}

			if count < it.size {
				break
			}
		}

		it.merged = append(it.merged, it.blocks[i])
	}

	if it.fast {
		for i < len(it.blocks) {
			// skip this block if it's values were already read
			if it.blocks[i].read() {
				i++
				continue
			}

			it.merged = append(it.merged, it.blocks[i])
			i++
		}
	}

	// if we only have 1 blocks left, just append it as is and avoid decoding/recoding
	if i == len(it.blocks)-1 {
		if !it.blocks[i].read() {
			it.merged = append(it.merged, it.blocks[i])
		}
		i++
	}

	// The remaining blocks can be combined and we know that they do not overlap and
	// so we can just append each, sort and re-encode.
	for i < len(it.blocks) && it.merged{{.Name}}Values.Len() < it.size {
		if it.blocks[i].read() {
			i++
			continue
		}

		if codec.IsPtrBlock(it.blocks[i].b) {
			it.merged = it.chunkFloat(it.merged)
			it.merged = append(it.merged, it.blocks[i])
			continue
		}

		var v types.{{.Name}}Array
		if err := codec.Decode{{.Name}}ArrayBlock(it.blocks[i].b, &v); err != nil {
			it.handleDecodeError(err, "{{.name}}")
			return nil
		}

		// Invariant: v.MaxTime() == it.blocks[i].maxTime
		if it.blocks[i].maxTime != v.MaxTime() {
			it.blocks[i].maxTime = v.MaxTime()
		}

		// Apply each tombstone to the block
		for _, ts := range it.blocks[i].tombstones {
			v.Exclude(ts.Min, ts.Max)
		}

		it.blocks[i].markRead(it.blocks[i].minTime, it.blocks[i].maxTime)

		it.merged{{.Name}}Values.Merge(&v)
		i++
	}

	it.blocks = it.blocks[i:]

	return it.chunk{{.Name}}(it.merged)
}

func (it *sstBatchKeyIterator) chunk{{.Name}}(dst blocks) blocks {
	if it.merged{{.Name}}Values.Len() > it.size {
		var values types.{{.Name}}Array
		values.Timestamps = it.merged{{.Name}}Values.Timestamps[:it.size]
		minTime, maxTime := values.Timestamps[0], values.Timestamps[len(values.Timestamps)-1]
		values.Values = it.merged{{.Name}}Values.Values[:it.size]

		cb, err := codec.Encode{{.Name}}ArrayBlock(&values, nil) // TODO(edd): pool this buffer
		if err != nil {
			it.handleEncodeError(err, "{{.name}}")
			return nil
		}

		dst = append(dst, &block{
			minTime: minTime,
			maxTime: maxTime,
			key:     it.key,
			b:       cb,
		})
		it.merged{{.Name}}Values.Timestamps = it.merged{{.Name}}Values.Timestamps[it.size:]
		it.merged{{.Name}}Values.Values = it.merged{{.Name}}Values.Values[it.size:]
		return dst
	}

	// Re-encode the remaining values into the last block
	if it.merged{{.Name}}Values.Len() > 0 {
		minTime, maxTime := it.merged{{.Name}}Values.Timestamps[0], it.merged{{.Name}}Values.Timestamps[len(it.merged{{.Name}}Values.Timestamps)-1]
		cb, err := codec.Encode{{.Name}}ArrayBlock(it.merged{{.Name}}Values, nil) // TODO(edd): pool this buffer
		if err != nil {
			it.handleEncodeError(err, "{{.name}}")
			return nil
		}

		dst = append(dst, &block{
			minTime: minTime,
			maxTime: maxTime,
			key:     it.key,
			b:       cb,
		})
		it.merged{{.Name}}Values.Timestamps = it.merged{{.Name}}Values.Timestamps[:0]
		it.merged{{.Name}}Values.Values = it.merged{{.Name}}Values.Values[:0]
	}
	return dst
}


{{ end }}
