<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>任务数据对比</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body class="bg-gray-100 p-6">
<div class="container mx-auto">
    <div class="flex justify-between items-center mb-4">
        <h1 class="text-2xl font-bold">EquinoxDB-原型展示平台-数据对比</h1>
        <a href="/" class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700">返回首页</a>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-6">
        {{range .Charts}}
        <div class="bg-white shadow rounded-xl p-6">
            <h2 class="text-lg font-semibold mb-4">{{.Title}}</h2>
            <canvas id="{{.Id}}" class="w-full h-80"></canvas>
        </div>
        {{end}}
    </div>

</div>

<script>
    const barPercentage = 1.0  // 调整为更合适的宽度比例
    const categoryPercentage = 0.2
    const charts = {{.ChartsJson}}
    const colorPalette = [
        '#537bc4', '#f67019', '#e6194b','#3cb44b','#f53794',
        '#8549ba', '#4dc9f6', '#166a8f', '#00a950', '#58595b',
        '#acc236','#ffe119', '#4363d8', '#f58231', '#911eb4',
        '#46f0f0', '#f032e6', '#bcf60c', '#fabebe', '#008080'
    ];
    const commonOptions = {
        responsive: true,
        interaction: { mode: 'nearest', axis: 'x', intersect: false },
        plugins: { tooltip: { mode: 'nearest' } },
        scales: {
            x: {
                grid: { drawOnChartArea: false },
                // 添加分组配置确保柱状并排显示
                stacked: false
            },
            y: {
                beginAtZero: true,
                stacked: false
            }
        }
    };

    charts.forEach(chart => {
            const datasets = chart.Legends.map((legend, idx) => ({
                label: legend,
                data: Object.values(chart.Values).map(v => v[idx]),
                backgroundColor: colorPalette[idx%20],  // 自动不同颜色
                barPercentage: barPercentage,
                categoryPercentage: categoryPercentage
            }));
            new Chart(document.getElementById(chart.Id), {
                type: 'bar',
                data: {
                    labels: Object.keys(chart.Values),
                    datasets: datasets
                },
                options: commonOptions
            });
        }
    )
</script>

</body>
</html>