package storage

import (
	"equinox/storage/cursor"
)

{{range .}}

// build{{.Name}}ArrayCursor creates an array cursor for a {{.name}} field.
func (e *Engine) build{{.Name}}ArrayCursor(key []byte, min, max int64, asc bool) cursor.{{.Name}}ArrayCursor {
	cacheValues := e.mm.Values(key)
	keyCursor := e.keyCursor(key, min, asc)
	if asc {
		cur := cursor.New{{.Name}}ArrayAscendingCursor()
		cur.Reset(min, max, cacheValues, keyCursor)
		return cur
	} else {
		cur := cursor.New{{.Name}}ArrayDescendingCursor()
		cur.Reset(max, min, cacheValues, keyCursor)
		return cur
	}
}

{{end}}
